@import "variables/variables.scss";

/*  

Pour utiliser SASS, merci de copier ce lien dans le terminal : 

./dart-sass/sass sass/article.scss article.css --watch


*/



/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------DESKTOP RESOLUTION------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/

    body{
        width : 1024px;
        font-family: 'DM Sans', sans-serif;
        margin:auto;
        align-items: center;
        position: relative;
        //font-family: 'Roboto', sans-serif;
    }

    /*--Header de la page---*/
    header{
       width: 100%;
       height:150px;
       align-items: center;
       display:flex;
        justify-content:start;
       a{
        width: 230px;
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
            img{
            width:100%;
            }
        }
       nav{
           width: 80%;
           align-items: center;
           text-align: center;
          
            
           button{
            border-radius: 20px;
            padding:5px;
            background-color: white;
            color: $primaryColor1;
            border: 1px solid grey;
            font-weight: bold;
            font-size: x-small;
            cursor: pointer;
            &:hover{
                background-color: $primaryColor1;
                color:white;
            }
            }
        }
       
       h2{
           font-size :medium;
            width: 330px;
           color: $primaryColor1;
       }
    }

    /*---Main---*/
    main{
        width: 100%;
        height: 310px;
        display: flex;
        flex-wrap :wrap;
        justify-content: space-between;
        background-color: #FAFAFA;
        position: relative;

        .presentation{
            width: 310px;
            height:310px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: flex-start;
            padding-left: 50px;
             h1 {
                 margin:0px;
                 font-weight: lighter;
                 font-size: 45px;
                 color: $primaryColor2;
                 letter-spacing: 1px;
                 width:100%;
                 height: auto;
                 display: flex;
                 text-align: start;
             }
             h3{
                margin:0px;
                font-weight: lighter;
                font-size: 20px;
                color: $primaryColor1;
             }
             blockquote{
                margin: 10px 0px 10px 0px;
                font-weight: lighter;
                font-size: small;
                color:$secondaryColor2;
             }

           
                #filtres-articles-243{
                    height: 10px;
                    span{
                        border-radius: 20px;
                        padding : 3px 5px 3px 5px;
                        margin: 2px;
                        background-color: white;
                        color: $primaryColor1;
                        border: 1px solid grey;
                        font-weight: bold;
                        font-size: 13px;
                    }
                }
    
                #filtres-articles-930{
                    height: 10px;
                    span{
                        border-radius: 20px;
                        padding : 3px 5px 3px 5px;
                        margin: 2px;
                        background-color: white;
                        color: $primaryColor1;
                        border: 1px solid grey;
                        font-weight: bold;
                        font-size: 13px;
                    }
                }
    
                #filtres-articles-82{
                    height: 10px;
                    span{
                        border-radius: 20px;
                        padding : 3px 5px 3px 5px;
                        margin: 2px;
                        background-color: white;
                        color: $primaryColor1;
                        border: 1px solid grey;
                        font-weight: bold;
                        font-size: 13px;
                    }
                }
    
                #filtres-articles-527{
                    height: 10px;
                    span{
                        border-radius: 20px;
                        padding : 3px 5px 3px 5px;
                        margin: 2px;
                        background-color: white;
                        color: $primaryColor1;
                        border: 1px solid grey;
                        font-weight: bold;
                        font-size: 13px;
                    }
                }
    
                #filtres-articles-925{
                    height: 10px;
                    span{
                        border-radius: 20px;
                        padding : 3px 5px 3px 5px;
                        margin: 2px;
                        background-color: white;
                        color: $primaryColor1;
                        border: 1px solid grey;
                        font-weight: bold;
                        font-size: 13px;
                    }
                }
    
                #filtres-articles-195{
                    height: 10px;
                    span{
                        border-radius: 20px;
                        padding : 3px 5px 3px 5px;
                        margin: 2px;
                        background-color: white;
                        color: $primaryColor1;
                        border: 1px solid grey;
                        font-weight: bold;
                        font-size: 13px;
                    }
                }
    
                #filtres-articles-243{
                    height: 10px;
                    span{
                        border-radius: 20px;
                        padding : 3px 5px 3px 5px;
                        margin: 2px;
                        background-color: white;
                        color: $primaryColor1;
                        border: 1px solid grey;
                        font-weight: bold;
                        font-size: 13px;
                    }
                }
        }

        img{
            width : 175px;
            height:175px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 0px;
            box-shadow:0px 6px 20px grey;
            position: absolute;
            right: 25px;
            top: 77px;
        }
        
    }

 /*------Bouton contactez moi-----*/

    .contact{
        position: absolute;
        top:240px;
        left : 355px;
        cursor: pointer;
        button{
            padding:28px 10px 28px 10px;
            margin : 5px;
            height:45px;
            background-color: $primaryColor1;
            border-radius:5px;
            color:white;
            border:none;
            font-family: "DM sans";
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            display: flex;
            text-align: center;
            align-items: center;
            &:hover{
                background-color: $primaryColor2;
                color:black;
                font-weight: bold;
            }
        }
    }

    /*------Section avec carroussel photos-----*/
    section{
        width: 100%;
        height: auto;
        

        .trier{
            display: flex;
            position: relative;
            width: 40%;
            margin-left: 40px;
            margin-bottom: 20px;
            p{
                width: 85px;
                font-weight: bold;
            }
            label{
                font-weight: bold;
                width: 75px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                padding-right: 5px;
            }
            select{
                background-color: $primaryColor1;
                color :white;
                font-family: 'DM Sans', sans-serif;
                width: 25%;
                align-items: center;
                text-align: center;
                align-self: center;
                justify-content: center;
                border-radius: 5px;
                height: 50px;
                padding-left: 5px;
                border-bottom: 1px solid white;
            }
        }

/*--- Description image du carroussel ----*/
        #carroussel{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap:15px;
            grid-row: 6;
            .carroussel-card{
                width : 250px;
                margin-left: 40px;
                margin-right: 40px;
                img{
                    width : 250px;
                    height:250px;
                    border-radius: 5px;
                    object-fit: cover;
                    cursor: pointer;
                }
                video{
                    width : 250px;
                    height:250px;
                    border-radius: 5px;
                    object-fit: cover;
                    cursor: pointer;
                }

                .description-image{
                    width : 250px;
                    display: flex;
                    justify-content:space-between;
                    color: $primaryColor1;
                    font-weight: bold;
                    align-items: flex-start;
                    height: 70px;
                    padding-top :5px;
                    p{
                        margin :0px;
                    }
                }
                .prix-like{
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 5px;
                    width: 90px;
                    p{
                        margin:0px;
                        width: 50px;
                    }
                    .like-compteur{
                        width: 50px;
                        display: flex;
                        justify-content: flex-end;
                        .fa-heart{
                            cursor: pointer;
                            margin-left: 3px;
                            &:hover{
                                transform :scale(1.15);
                            }
                        }
                    }
                    
                }
            }
        }
    }
 
 
 /* -------LightBox------------*/
#lightBox{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top:30px;
    right: 20px;
    background-color: white;
    z-index: 400000;

    #closeBtnLightBox{
        position: absolute;
        top: 120px;
        right: 50px;
        z-index: 200000;
        img{
            width: 35px;
            height: 35px;
            
        }
    }

    #suivantLightBox{
        position: absolute;
        top: 450px;
        right: 50px;
        z-index: 200000;
        img{
            width: 35px;
            height: 35px;
        }
    }

    #precedentLightBox{
        position: absolute;
        top: 450px;
        left: 50px;
        z-index: 200000;
        img{
            width: 35px;
            height: 35px;
        }
    }

    #photoSlider{
        width: 100px;
        height: 100px;

        img{
            width: 820px;
            height: 700px;
            object-fit: cover;
            margin-top: 100px;
           margin-left: 100px;
           border-radius: 5px;
           box-shadow:0px 6px 20px grey;
        }
        p{
            margin-left: 100px;
            font-size: large;
            color: $primaryColor1;
            font-weight: 500;
            width: 300px;
        }
    }
    
    
}

/*-------Formulaire------------*/
.fenetre-modale{
    display: none;
    z-index: 13;
   position: absolute;
   top: 0px;
    right: 0px;
    
    .formulaire{
        height:auto;
        width:675px;
        background-color: $secondaryColor1;
        display: flex;
        flex-direction: column;
        padding:20px;
        position: absolute;
        top: 115px;
        right:160px;
        border-radius: 5px;
        box-shadow: 4px 17px 20px 1px black;
        
        #formIntroduction{
           display: flex;
           flex-direction: column;
           justify-content: center;
           height: 135px;
           margin-bottom: 50px;
           position: relative;
            h1{
                font-size: 58px;
                font-weight : 500;
                margin:0px;
            }
            h2{
                font-size: 58px;
                font-weight : 500;
                margin:0px;
            }
        }
       #closeBtn{
        position: absolute;
        top: 5px;
        right: 28px;
        color: white;
        font-weight: 100;
        font-size: 66px;
        border-radius: none;
        cursor: pointer;
        img{
            width: 35px;
            height: 35px;
        }
       }
        form{
            display: flex;
            flex-direction: column;
            width: 660px;
            font-size: 32px;

            label{
                font-weight: lighter;
                font-size: 46px;
                display: flex;
            }
            input{
                width: 660px;
                height: 70px;
                border-radius:5px;
                border:none;
                font-size: 35px;
                padding-left: 10px;
            }
            textarea{
                width: 660px;
                height: 140px;
                border-radius:5px;
                border:none;
                font-size: 35px;
                padding-left: 10px;
            }

            .soumission{
                color:white;
                background-color:$primaryColor1;
                width: 170px;
                height:70px;
                font-family: "DM sans";
                font-size: 22px;
                margin-top:30px;
                border:none;
                border-radius:5px;
            }

            .errorFirstName{
                font-size: large;
                color : whitesmoke;
            }
            .errorlastName{
                font-size: medium;
                color : whitesmoke;
            }
            .erroreMail{
                font-size: medium;
                color : whitesmoke;

            }
            .erroreMessageText{
                font-size: medium;
                color : whitesmoke;

            }
        }
    }
}
.fenetre-validation-formulaire{
    height: 200px;
    width:675px;
    position:absolute;
    top : 50%;
    right : 18%;
    background-color: $secondaryColor1;
    display: none;
    border-radius: 5px;
    box-shadow: 4px 17px 20px 1px black;

    .contenu-fenetre-validation-formulaire{
        height: 200px;
        width:675px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

            p{
                font-size: larger;
            }
        
        
            a{
            padding: 5px;
            margin: 5px;
            height: 45px;
            background-color: #901C1C;
            border-radius: 5px;
            color: white;
            border: none;
            font-family: "DM sans";
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            align-items: center;
            display: flex;
            }
    }
    
}

    footer{
        width: 26%;
        position:sticky;
        bottom:0px;
        right: 0px;
        display: flex;
        justify-content: space-around;
        background-color: $primaryColor2;
        color:black;
        font-weight: bold;
        align-items: center;
        border-radius: 5px 5px 0px 0px;
        margin-left: 755px;
        z-index: 3;
        .fa-heart{
            cursor: pointer;
        }
    }




@media screen and (max-width:426px){

    body{
        width : 100%;
        font-family: 'DM Sans', sans-serif;
        margin:auto;
        align-items: center;
    }

    /*--Header de la page---*/
    header{
       width: 100%;
       height:100px;
       position: relative;
       align-items: center;
       display:flex;
       justify-content: center;
       a{
           img{
           width:60%;
           position:absolute;
           top: 25px;
           left: -25px;
            }
        }
    }

    /*------Description photographe avec photo ID----------*/

    main{
        width: 100%;
        height: 240px;
        .presentation{
            width: 240px;
            padding-left:4%;
            height: 240px;
            h1{
                font-size: 32px;
                height: auto;
                width: 100%;
            }
            h3{
                font-size: 16px;
                font-weight: 500;
                margin-top: 2px;
                margin-bottom: 2px;
            }
            blockquote{
                font-size: 13px;
                margin-top: 2px;
                margin-bottom: 5px;
            }

            #filtres-articles-243{
                height: 10px;
                span{
                    border-radius: 20px;
                    padding : 2px 5px 2px 5px;
                    margin: 2px;
                    background-color: white;
                    color: $primaryColor1;
                    border: 1px solid grey;
                    font-weight: bold;
                    font-size: 11px;
                }
            }
    
            #filtres-articles-930{
                height: 10px;
                span{
                    border-radius: 20px;
                    padding : 2px 5px 2px 5px;
                    margin: 2px;
                    background-color: white;
                    color: $primaryColor1;
                    border: 1px solid grey;
                    font-weight: bold;
                    font-size: 11px;
                }
            }
    
            #filtres-articles-82{
                height: 10px;
                span{
                    border-radius: 20px;
                    padding : 2px 5px 2px 5px;
                    margin: 2px;
                    background-color: white;
                    color: $primaryColor1;
                    border: 1px solid grey;
                    font-weight: bold;
                    font-size: 11px;
                }
            }
    
            #filtres-articles-527{
                height: 10px;
                span{
                    border-radius: 20px;
                    padding : 2px 5px 2px 5px;
                    margin: 2px;
                    background-color: white;
                    color: $primaryColor1;
                    border: 1px solid grey;
                    font-weight: bold;
                    font-size: 11px;
                }
            }
    
            #filtres-articles-925{
                height: 10px;
                span{
                    border-radius: 20px;
                    padding : 2px 5px 2px 5px;
                    margin: 2px;
                    background-color: white;
                    color: $primaryColor1;
                    border: 1px solid grey;
                    font-weight: bold;
                    font-size: 11px;
                }
            }
    
            #filtres-articles-195{
                height: 10px;
                span{
                    border-radius: 20px;
                    padding : 2px 5px 2px 5px;
                    margin: 2px;
                    background-color: white;
                    color: $primaryColor1;
                    border: 1px solid grey;
                    font-weight: bold;
                    font-size: 11px;
                }
            }
    
            #filtres-articles-243{
                height: 10px;
                span{
                    border-radius: 20px;
                    padding : 2px 5px 2px 5px;
                    margin: 2px;
                    background-color: white;
                    color: $primaryColor1;
                    border: 1px solid grey;
                    font-weight: bold;
                    font-size: 11px;
                }
            }
        }

        

        img{
            width: 100px;
            height: 100px;
            position: absolute;
            top: 60px;
            right: 18px;
        } 
    }

    .contact{
        position:sticky; 
        bottom: 3%;
        left: 27%;
        width: 170px;
        height: 36px;
        display: flex;
        justify-content: center;
        button{
            display: flex;
            justify-content: center;
            width: 170px;
            height: 36px;
            margin-bottom: 5%;
            padding : 5px 10px 5px 10px;
        }
    }


    /*--- Description image du carroussel ----*/
    section{
        .trier{
            display: none;
        }
        #carroussel{
            display:flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            margin-top: 40px;
            margin-left: 4%;
            margin-right: 4%;
            .carroussel-card{
                width : 100%;
                img{
                    width :100%;
                    height:250px;
                    border-radius: 5px;
                    object-fit: cover;
                    cursor: pointer;
                }
                video{
                    width :100%;
                    height:250px;
                    border-radius: 5px;
                    object-fit: cover;
                    cursor: pointer;
                }
                .description-image{
                    width : 100%;
                    display: flex;
                    justify-content:space-between;
                    color: $primaryColor1;
                    font-weight: bold;
                    align-items: flex-start;
                    height: 70px;
                    padding-top :5px;
                    p{
                        margin :0px;
                    }
                }
                .prix-like{
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 5px;
                    width: 95px;
                    p{
                        margin:0px;
                        width: 55px;
                    }
                    .like-compteur{
                        width: 60px;
                        display: flex;
                        justify-content: flex-end;
                        .fa-heart{
                            cursor: pointer;
                            margin-left: 3px;
                        }
                    }
                    
                }
            }
        }
    
    }
    

/*-------Formulaire------------*/
.fenetre-modale{
    display: none;
    z-index: 13;
   position: fixed;
    width: 100%;
    
    .formulaire{
        height:auto;
        width: 100%;
        background-color: $secondaryColor1;
        display: flex;
        flex-direction: column;
        padding:20px;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 5px;
        box-shadow: 4px 17px 20px 1px black;
        
        #formIntroduction{
           display: flex;
           flex-direction: column;
           justify-content: center;
           height: 135px;
           margin-bottom: 10px;
           position: relative;
            h1{
                font-size: 30px;
                font-weight : 500;
                margin:0px;
            }
            h2{
                font-size: 30px;
                font-weight : 500;
                margin:0px;
            }
        }
       #closeBtn{
        position: absolute;
        top: 50px;
        right: 80px;
        color: white;
        font-weight: 100;
        font-size: 30px;
        border-radius: none;
        cursor: pointer;
        img{
            width: 22px;
            height: 22px;
        }
       }
        form{
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: 22px;
            label{
                font-weight: lighter;
                font-size: 24px;
                display: flex;
                width: 100%;
                height: auto;
                margin-bottom: 1%;
            }
            input{
                width: 85%;
                height: 45px;
                border-radius:5px;
                border:none;
                font-size: 24px;
                padding-left: 10px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 1%;
                align-items: center;
            }
            textarea{
                width: 85%;
                height: 140px;
                border-radius:5px;
                border:none;
                font-size: 35px;
                padding-left: 10px;
            }

            .soumission{
                color:white;
                background-color:$primaryColor1;
                width: 170px;
                height:35px;
                font-family: "DM sans";
                font-size: 22px;
                margin-top:30px;
                margin-left: 20%;
                border:none;
                border-radius:5px;
                align-items: center;
                justify-content: center;
                display: flex;
                position: relative;
               right: 0;
            }

            .errorFirstName{
                font-size: 14px;
                color : whitesmoke;
            }
            .errorlastName{
                font-size: 14px;
                color : whitesmoke;
            }
            .erroreMail{
                font-size: 14px;
                color : whitesmoke;

            }
            .erroreMessageText{
                font-size: 14px;
                color : whitesmoke;

            }
        }
    }
}
.fenetre-validation-formulaire{
    height: 100%;
    width:100%;
    position:absolute;
    top : 0px;
    left : 0px;
    background-color: $secondaryColor1;
    display: none;
    border-radius: 5px;
    box-shadow: 4px 17px 20px 1px black;
    z-index: 100000;

    .contenu-fenetre-validation-formulaire{
    height: 200px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70%;
        p{
        font-size: larger;
        }
        a{
        padding: 5px;
        margin: 5px;
        height: 45px;
        background-color: #901C1C;
        border-radius: 5px;
        color: white;
        border: none;
        font-family: "DM sans";
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        align-items: center;
        display: flex;
        }
    }
}

    footer{
        display: none;
    }


}