/*--- Les couleurs de Police---*/

/*--Couleurs primaires--*/
$primaryColor1 : #901C1C;
$primaryColor2 : #D3573C;


/*--Couleurs secondaires--*/
$secondaryColor1 :#D3573C;
$secondaryColor2 : #525252;
$secondaryColor3 : #FAFAFA;
$secondaryColor3 : #901C1C;